<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lisää vaate</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Lisää vaate</h1>
	<div>
		<form th:object="${vaate}" th:action="@{saveVaate}" action="#" method="post">
		  	<label for="tyyppi">Tyyppi</label>
			<input type="text" id="tyyppi" th:field="*{tyyppi}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
		  	<label for="vari">Väri</label>
			<input type="text" id="vari" th:field="*{vari}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<div class="form-group">
    <label for="valmistaja">Valmistaja</label>
    <select th:field="*{valmistaja}" class="form-control">
        <option th:each="valmistaja : ${valmistajat}" th:value="${valmistaja.valmistajaid}" th:text="${valmistaja.nimi}"></option>
    </select>
</div>
			
			<label for="koko">Koko</label>
			<input type="text" id="koko" th:field="*{koko}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="hinta">Hinta</label>
			<input type="text" id="hinta" th:field="*{hinta}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>